.card6 {
  width: 100%;
  position: relative;
  display: flex;
  padding: 3vw 3vw;
  flex-direction: column;

  .top-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2.5vw;
    .big-en-title {
      @include enTitle();

      font-size: 4.3vw;
      color: #000;
      @media all and (max-width: 1440px) {
        font-size: 5vw;
      }
    }
    .en-title {
      @include content();
      font-family: "微軟正黑體";
      img {
        width: 14vw;
        @media all and (max-width: 1440px) {
          width: 16.5vw;
        }
      }
    }
  }

  .bottom-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .video-img {
      width: 100%;
    }

    .content {
      text-align: center;
      padding: 5vw;
      padding-bottom: 2vw;
      @include zhTitle();
      margin-bottom: 0vw;
      letter-spacing: 0.1em;
    }
  }
}
