@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Cormorant+Upright:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@500;600;700&family=Noto+Serif+TC:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #eeefeb;
}

.card1 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  padding: 7vw 5vw;
  justify-content: space-between;
}
@media all and (max-width: 1024px) {
  .card1 {
    height: auto;
  }
}
.card1 .left-box {
  display: flex;
  flex-direction: column;
}
.card1 .left-box .en-title-box {
  font-size: 7.4vw;
  color: #364447;
  font-weight: 600;
  font-family: "Cormorant Garamond";
}
.card1 .left-box .en-title-box .en-title-1 {
  margin-bottom: -2vw;
}
.card1 .left-box .zh-title-box {
  font-size: 2.2vw;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Serif TC", serif;
}
.card1 .right-box {
  display: flex;
  justify-content: right;
}
@media all and (max-width: 1024px) {
  .card1 .right-box {
    padding-top: 28vw;
  }
}
.card1 .right-box .content {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card1 .right-box .content .logo-box {
  align-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}
.card1 .right-box .content .logo-box .logo-all {
  width: 68%;
  align-self: flex-end;
}
.card1 .right-box .content .text-box {
  text-align: right;
  font-size: 2.6vw;
  color: #94714d;
}

.card2 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: white;
}
@media all and (max-width: 1024px) {
  .card2 {
    height: initial;
  }
}
.card2 .c2-bg {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media all and (max-width: 1024px) {
  .card2 .c2-bg {
    height: initial;
  }
}
.card2 .content-box {
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding-top: 12vw;
  padding-left: 5vw;
}
@media all and (max-width: 1440px) {
  .card2 .content-box {
    padding-top: 14vw;
  }
}
.card2 .content-box .en-title-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5vw;
  font-size: 3.5vw;
  font-weight: 600;
  font-family: "Cormorant Garamond";
  color: #94714d;
}
.card2 .content-box .en-title-box .en-title-1,
.card2 .content-box .en-title-box .en-title-2 {
  margin-bottom: -1vw;
}
.card2 .content-box .zh-title-box {
  font-size: 1.75vw;
  margin-bottom: 4vw;
  color: #000;
  font-weight: 800;
  font-family: "Noto Serif TC", serif;
  margin-bottom: 4vw;
}
.card2 .content-box .content {
  font-size: 1.25vw;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Sans", serif;
  line-height: 1.65;
  letter-spacing: 0.05em;
}
@media all and (max-width: 1680px) {
  .card2 .content-box .content {
    line-height: 1.7;
  }
}

.card3 {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.card3 .c3-img-box {
  width: 100%;
  overflow: hidden;
}
.card3 .c3-img-box .c3-img {
  width: 100%;
}

.card4 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 5vw;
  padding-right: 0vw;
  padding-bottom: 5vw;
}
.card4 .left-box {
  display: flex;
  flex-direction: column;
  padding-top: 14vw;
}
.card4 .left-box .big-zh-title-box {
  font-size: 2.7vw;
  font-weight: 700;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Serif TC", serif;
  margin-left: 5vw;
}
.card4 .left-box .en-title-box {
  font-size: 3.5vw;
  font-weight: 600;
  font-family: "Cormorant Garamond";
  color: #94714d;
  padding-left: 5vw;
  border-bottom: 3px solid #94714d;
  margin-bottom: 1vw;
}
@media all and (max-width: 1440px) {
  .card4 .left-box .en-title-box {
    border-bottom: 1.5px solid #94714d;
  }
}
.card4 .left-box .zh-title-box {
  font-size: 1.75vw;
  margin-bottom: 4vw;
  color: #000;
  font-weight: 800;
  font-family: "Noto Serif TC", serif;
  margin-left: 5vw;
}
.card4 .left-box .content {
  font-size: 1.25vw;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Sans", serif;
  line-height: 1.65;
  letter-spacing: 0.05em;
  margin-left: 5vw;
}
@media all and (max-width: 1680px) {
  .card4 .left-box .content {
    line-height: 1.7;
  }
}
.card4 .left-box .content .content-1 {
  margin-bottom: 2vw;
}
.card4 .right-box {
  display: flex;
  justify-content: right;
  width: 60%;
}
.card4 .right-box .c4-img-box {
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: right;
}
.card4 .right-box .c4-img-box .c4-img {
  width: 100%;
}

.card5 {
  width: 100%;
  position: relative;
  display: flex;
  background-color: #364447;
  justify-content: right;
  padding: 3vw 15vw;
  padding-bottom: 7vw;
}
@media all and (max-width: 1440px) {
  .card5 {
    padding: 3vw 23vw;
    padding-bottom: 7vw;
  }
}
.card5 .c5-img-box {
  position: absolute;
  width: 35%;
  top: -12vw;
  left: 5vw;
  overflow: hidden;
}
@media all and (max-width: 1440px) {
  .card5 .c5-img-box {
    width: 35%;
    top: -12vw;
    left: 5vw;
  }
}
.card5 .c5-img-box .c5-img {
  width: 100%;
}
.card5 .content {
  color: #fff;
  font-size: 3.5vw;
  font-weight: 600;
  font-family: "Cormorant Garamond";
}

.card6 {
  width: 100%;
  position: relative;
  display: flex;
  padding: 3vw 3vw;
  flex-direction: column;
}
.card6 .top-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 2.5vw;
}
.card6 .top-box .big-en-title {
  font-size: 3.5vw;
  font-weight: 600;
  font-family: "Cormorant Garamond";
  color: #94714d;
  font-size: 4.3vw;
  color: #000;
}
@media all and (max-width: 1440px) {
  .card6 .top-box .big-en-title {
    font-size: 5vw;
  }
}
.card6 .top-box .en-title {
  font-size: 1.25vw;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Sans", serif;
  line-height: 1.65;
  letter-spacing: 0.05em;
  font-family: "微軟正黑體";
}
@media all and (max-width: 1680px) {
  .card6 .top-box .en-title {
    line-height: 1.7;
  }
}
.card6 .top-box .en-title img {
  width: 14vw;
}
@media all and (max-width: 1440px) {
  .card6 .top-box .en-title img {
    width: 16.5vw;
  }
}
.card6 .bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card6 .bottom-box .video-img {
  width: 100%;
}
.card6 .bottom-box .content {
  text-align: center;
  padding: 5vw;
  padding-bottom: 2vw;
  font-size: 1.75vw;
  margin-bottom: 4vw;
  color: #000;
  font-weight: 800;
  font-family: "Noto Serif TC", serif;
  margin-bottom: 0vw;
  letter-spacing: 0.1em;
}

.card7 {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.card7 .c7-img {
  width: 100%;
}

.card8 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 7vw 7vw;
}
@media all and (max-width: 1920px) {
  .card8 {
    padding: 6vw 5vw;
  }
}
@media all and (max-width: 1440px) {
  .card8 {
    padding-left: 0vw;
  }
}
.card8 .right-box {
  display: flex;
  flex-direction: column;
  padding-top: 7vw;
  width: 45%;
}
@media all and (max-width: 1920px) {
  .card8 .right-box {
    width: 50%;
    padding-top: 13vw;
  }
}
@media all and (max-width: 1440px) {
  .card8 .right-box {
    width: 40%;
  }
}
.card8 .right-box .big-zh-title-box {
  font-size: 2.7vw;
  font-weight: 700;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Serif TC", serif;
  margin-left: 5vw;
}
.card8 .right-box .en-title-box {
  font-size: 3.5vw;
  font-weight: 600;
  font-family: "Cormorant Garamond";
  color: #94714d;
  border-bottom: 3px solid #94714d;
  margin-bottom: 1vw;
  padding-left: 5vw;
}
@media all and (max-width: 1440px) {
  .card8 .right-box .en-title-box {
    border-bottom: 1.5px solid #94714d;
  }
}
.card8 .right-box .zh-title-box {
  font-size: 1.75vw;
  margin-bottom: 4vw;
  color: #000;
  font-weight: 800;
  font-family: "Noto Serif TC", serif;
  margin-bottom: 2vw;
  margin-left: 5vw;
}
.card8 .right-box .content {
  font-size: 1.25vw;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Sans", serif;
  line-height: 1.65;
  letter-spacing: 0.05em;
  margin-left: 5vw;
}
@media all and (max-width: 1680px) {
  .card8 .right-box .content {
    line-height: 1.7;
  }
}
.card8 .right-box .content .content-1,
.card8 .right-box .content .content-2 {
  margin-bottom: 2vw;
}
.card8 .left-box {
  display: flex;
  justify-content: right;
}
@media all and (max-width: 1920px) {
  .card8 .left-box {
    width: 50%;
  }
}
.card8 .left-box .c8-img-box {
  overflow: hidden;
  width: 82%;
}
@media all and (max-width: 1440px) {
  .card8 .left-box .c8-img-box {
    width: 88%;
  }
}
.card8 .left-box .c8-img-box .c8-img {
  width: 100%;
}

.card9 {
  position: relative;
  display: flex;
  width: 75%;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 3vw;
  margin-bottom: 7vw;
}
@media all and (max-width: 1920px) {
  .card9 {
    padding-left: 0vw;
    width: 80%;
  }
}
.card9 .text img {
  width: 11vw;
}
@media all and (max-width: 1440px) {
  .card9 .text img {
    width: 14vw;
  }
}
.card9 .text::after {
  background-color: #94714d;
  content: "";
  position: absolute;
  top: 0.7vw;
  left: 15vw;
  width: 100%;
  height: 1px;
}

.card10 {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.card10 .c10-img {
  width: 100%;
}
.card10 .c10-text-img {
  position: absolute;
  width: 30%;
  bottom: 4vw;
  right: 5vw;
}

.card11 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 5vw;
}
.card11 .top-box {
  margin-bottom: 4vw;
}
.card11 .top-box .big-zh-title-box {
  font-size: 2.7vw;
  font-weight: 700;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Serif TC", serif;
  margin-left: 5vw;
}
.card11 .top-box .en-title-box {
  font-size: 3.5vw;
  font-weight: 600;
  font-family: "Cormorant Garamond";
  color: #94714d;
  display: flex;
  margin-bottom: 1vw;
}
.card11 .top-box .en-title-box .en-title {
  border-bottom: 3px solid #94714d;
  padding-left: 5vw;
}
@media all and (max-width: 1440px) {
  .card11 .top-box .en-title-box .en-title {
    border-bottom: 1.5px solid #94714d;
  }
}
.card11 .top-box .zh-title-box {
  font-size: 1.75vw;
  margin-bottom: 4vw;
  color: #000;
  font-weight: 800;
  font-family: "Noto Serif TC", serif;
  margin-bottom: 3vw;
  margin-left: 5vw;
}
.card11 .top-box .content {
  display: flex;
  font-size: 1.25vw;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Sans", serif;
  line-height: 1.65;
  letter-spacing: 0.05em;
  margin-left: 5vw;
}
@media all and (max-width: 1680px) {
  .card11 .top-box .content {
    line-height: 1.7;
  }
}
.card11 .top-box .content .content-2 {
  margin-left: 5vw;
}
.card11 .bottom-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}
.card11 .bottom-box .c11-img1 {
  height: 37vw;
}
.card11 .bottom-box .c11-img2 {
  height: 37vw;
  margin-left: 1vw;
}

.card12 {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 5vw;
}
.card12 .c12-img {
  width: 100%;
}

.card13 {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  padding-top: 5vw;
  justify-content: space-between;
}
.card13 .left-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 6vw;
}
.card13 .left-box .big-zh-title-box {
  font-size: 2.7vw;
  font-weight: 700;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Serif TC", serif;
  margin-left: 5vw;
}
.card13 .left-box .en-title-box {
  font-size: 3.5vw;
  font-weight: 600;
  font-family: "Cormorant Garamond";
  color: #94714d;
  display: flex;
  margin-bottom: 1vw;
}
.card13 .left-box .en-title-box .en-title {
  border-bottom: 3px solid #94714d;
  padding-left: 5vw;
}
@media all and (max-width: 1440px) {
  .card13 .left-box .en-title-box .en-title {
    border-bottom: 1.5px solid #94714d;
  }
}
.card13 .left-box .zh-title-box {
  font-size: 1.75vw;
  margin-bottom: 4vw;
  color: #000;
  font-weight: 800;
  font-family: "Noto Serif TC", serif;
  margin-bottom: 3vw;
  margin-left: 5vw;
}
.card13 .left-box .content {
  display: flex;
  font-size: 1.25vw;
  color: #000;
  font-weight: bolder;
  font-family: "Noto Sans", serif;
  line-height: 1.65;
  letter-spacing: 0.05em;
  margin-left: 5vw;
}
@media all and (max-width: 1680px) {
  .card13 .left-box .content {
    line-height: 1.7;
  }
}
.card13 .left-box .content .content-2 {
  margin-left: 5vw;
}
.card13 .right-box {
  display: flex;
  width: 60%;
}
.card13 .right-box .c13-img {
  width: 100%;
}

.card14 {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: left;
  padding-top: 5vw;
}
.card14 .c14-img {
  width: 80%;
}

.card15 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding-top: 8vw;
  padding-bottom: 4vw;
  background-image: url(../images/c15_img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 5vw;
}
.card15 .zh-title-box {
  color: #211815;
  font-size: 2.4vw;
  font-weight: bolder;
  font-family: "Noto Serif TC", serif;
  margin-bottom: 8vw;
}
.card15 .contnet-box {
  display: flex;
  justify-content: center;
}
.card15 .contnet-box .c15-title-svg {
  width: 3.3vw;
}
.card15 .contnet-box .content {
  font-size: 1.5vw;
  align-self: center;
  color: #000;
  font-weight: 800;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 0.2em;
  margin-left: 1vw;
}

.card16 {
  display: flex;
  width: 100%;
  position: relative;
  background-color: #364447;
  flex-direction: column;
  padding-top: 7vw;
  padding-bottom: 7vw;
}
.card16 .top-box {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.card16 .top-box .title-box {
  display: flex;
  font-family: "Noto Sans";
  font-size: 2vw;
  font-weight: 700;
  margin-top: 1.5vw;
  letter-spacing: 0.05em;
  align-self: center;
  color: white;
}
.card16 .top-box .title-box .title-item-img {
  width: 0.3vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.card16 .top-box .c16-img {
  width: 26vw;
  align-self: center;
}
.card16 .bottom-box {
  display: flex;
  color: white;
  font-family: "Noto Sans";
  letter-spacing: 0.05em;
  justify-content: center;
  margin-top: 6vw;
}
.card16 .bottom-box .name {
  font-size: 2.4vw;
  font-weight: 700;
}
.card16 .bottom-box .phone {
  margin-left: 1vw;
  font-size: 2.4vw;
  align-self: center;
}
.card16 .bottom-box .phone img {
  width: 1.2vw;
  margin-left: 0.7vw;
}
.card16 .bottom-box .url {
  margin-left: 1vw;
  font-size: 1.65vw;
  align-self: center;
}